{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">Message</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block summary %}
    <hr />
    <h4 class="text-center">Summary</h4>
    <p class="text-center"><i>{{summary}}</i></p>
{% endblock %}

{% block content %}
    <table class="table table-sm table-bordered">
        <tbody>
            {% for row in table %}
                <tr>
                    {% for (column, label) in row %}
                        {% if label %}
                            <td class="success">{{column}}</td>
                        {% else %}
                            <td>{{column}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
